.container{
    display: flex;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    flex-direction: column;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 9px;
    width: 100%;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 550;
}

.underLine{
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    background: #eaeaea;
    height: 80px;
    width: 480px;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    background: transparent;
    border: none;
    height: 50px;
    width: 390px;
    outline: none;
    font-size: 22px;
    color: #797979;
}

.forgot{
    color: #797979;
    font-size: 19px;
    padding-left: 62px;
    margin-top: 15px;
}

.forgot span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.submit{
    display: flex;
    background: #4c00b4;
    color: #fff;
    width: 220px;
    height: 59px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.google{
    display: flex;
    gap: 30px;
    background: #4c00b4;
    height: 59px;
    width: 475px;
    border-radius: 50px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.google img{
    height: 30px;
    width: 30px;
}